[submodule "terminal"]
	path = cutefish-project/terminal
	url = https://github.com/cutefishos/terminal
[submodule "cutefish-project/texteditor"]
	path = cutefish-project/texteditor
	url = https://github.com/cutefishos/texteditor
[submodule "cutefish-project/videoplayer"]
	path = cutefish-project/videoplayer
	url = https://github.com/cutefishos/videoplayer
[submodule "cutefish-project/calculator"]
	path = cutefish-project/calculator
	url = https://github.com/cutefishos/calculator
[submodule "cutefish-project/gtk-themes"]
	path = cutefish-project/gtk-themes
	url = https://github.com/cutefishos/gtk-themes
[submodule "cutefish-project/appmotor"]
	path = cutefish-project/appmotor
	url = https://github.com/cutefishos/appmotor
[submodule "cutefish-project/sddm-theme"]
	path = cutefish-project/sddm-theme
	url = https://github.com/cutefishos/sddm-theme
[submodule "cutefish-project/daemon"]
	path = cutefish-project/daemon
	url = https://github.com/cutefishos/daemon
[submodule "cutefish-project/icons"]
	path = cutefish-project/icons
	url = https://github.com/cutefishos/icons
[submodule "cutefish-project/statusbar"]
	path = cutefish-project/statusbar
	url = https://github.com/cutefishos/statusbar
[submodule "cutefish-project/qt-plugins"]
	path = cutefish-project/qt-plugins
	url = https://github.com/cutefishos/qt-plugins
[submodule "cutefish-project/settings"]
	path = cutefish-project/settings
	url = https://github.com/cutefishos/settings
[submodule "cutefish-project/dock"]
	path = cutefish-project/dock
	url = https://github.com/cutefishos/dock
[submodule "cutefish-project/fishui"]
	path = cutefish-project/fishui
	url = https://github.com/cutefishos/fishui
[submodule "cutefish-project/core"]
	path = cutefish-project/core
	url = https://github.com/cutefishos/core
[submodule "cutefish-project/screenshot"]
	path = cutefish-project/screenshot
	url = https://github.com/cutefishos/screenshot
[submodule "cutefish-project/screenlocker"]
	path = cutefish-project/screenlocker
	url = https://github.com/cutefishos/screenlocker
[submodule "cutefish-project/libcutefish"]
	path = cutefish-project/libcutefish
	url = https://github.com/cutefishos/libcutefish
[submodule "cutefish-project/wallpapers"]
	path = cutefish-project/wallpapers
	url = https://github.com/cutefishos/wallpapers
[submodule "cutefish-project/filemanager"]
	path = cutefish-project/filemanager
	url = https://github.com/cutefishos/filemanager
[submodule "cutefish-project/launcher"]
	path = cutefish-project/launcher
	url = https://github.com/cutefishos/launcher
[submodule "cutefish-project/kwin-plugins"]
	path = cutefish-project/kwin-plugins
	url = https://github.com/cutefishos/kwin-plugins
[submodule "cutefish-project/cursor-themes"]
	path = cutefish-project/cursor-themes
	url = https://github.com/cutefishos/cursor-themes
[submodule "cutefish-project/plymouth-theme"]
	path = cutefish-project/plymouth-theme
	url = https://github.com/cutefishos/plymouth-theme
[submodule "cutefish-project/docs"]
	path = cutefish-project/docs
	url = https://github.com/cutefishos/docs
